<extend name="Public/main" />

<block name="style">
	<script type="text/javascript">
		var catid = "12";
	</script>
	<style type="text/css">
		.col-auto {
			overflow: hidden;
			_zoom: 1;
			_float: left;
			border: 1px solid #c2d1d8;
		}
		.col-right {
			float: right;
			width: 210px;
			overflow: hidden;
			margin-left: 6px;
			border: 1px solid #c2d1d8;
		}

		body fieldset {
			border: 1px solid #D8D8D8;
			padding: 10px;
			background-color: #FFF;
		}
		body fieldset legend {
			background-color: #F9F9F9;
			border: 1px solid #D8D8D8;
			font-weight: 700;
			padding: 3px 8px;
		}
		.content_attr {
			border: 1px solid #CCC;
			padding: 5px 8px;
			background: #FFC;
			margin-top: 6px
		}
		.list-dot{ padding-bottom:10px}
		.list-dot li,.list-dot-othors li{padding:5px 0; border-bottom:1px dotted #c6dde0; font-family:"宋体"; color:#bbb; position:relative;_height:22px}
		.list-dot li span,.list-dot-othors li span{color:#004499}
		.list-dot li a.close span,.list-dot-othors li a.close span{display:none}
		.list-dot li a.close,.list-dot-othors li a.close{ background: url("__STATIC__/images/cross.png") no-repeat left 3px; display:block; width:16px; height:16px;position: absolute;outline:none;right:5px; bottom:5px}
		.list-dot li a.close:hover,.list-dot-othors li a.close:hover{background-position: left -46px}
		.list-dot-othors li{float:left;width:24%;overflow:hidden;}
	</style>
</block>

<block name="body">
	<div class="wrap J_check_wrap">
		<div class="nav">
			<ul class="cc">
				<li><a href="{:U('fengkongjishu/expert')}">所有专家</a></li>
				<li class="current"><a href="{:U('fengkongjishu/expertAdd')}">添加专家</a></li>
			</ul>
		</div>
		<form name="myform" id="myform" action="#" method="post" class="J_ajaxForms" enctype="multipart/form-data">
			<div class="col-auto">
				<div class="h_a">专家手机</div>
				<div class="table_full">
					<table width="100%">
						<tr>
							<th width="80">专家手机 </th>
							<td>
								<input type="text" style="width:400px;" name="mobile" class="input input_hd J_title_color" placeholder="请输入专家登录手机号"/>
								<span class="must_red">*</span>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="btn_wrap" style="z-index:999;text-align: center;">
				<div class="btn_wrap_pd">
					<button class="btn btn_submit J_ajax_submit_btn"type="submit">提交</button>
					<button class="btn J_ajax_close_btn"type="submit">关闭</button>
				</div>
			</div>
		</form>
	</div>
</block>

<block name="script">
	<script type="text/javascript" src="__STATIC__/js/content_addtop.js{$js_debug}"></script>
	<script type="text/javascript">
									//编辑器路径定义
									var editorURL = GV.DIMAUB;
	</script>
	<script type="text/javascript"  src="__STATIC__/js/ueditor/editor_config.js"></script>
	<script type="text/javascript"  src="__STATIC__/js/ueditor/editor_all_min.js"></script>
	<script type="text/javascript">

									var editorcontent;
									UE.commands['attachments'] = {
										execCommand: function(cmd) {
											flashupload('flashupload', '附件上传', 'content', ueAttachment, '10,,1,,,0', 'Contents', '12', 'd909680d11bb7090136c35b9b9d4e66d');
										},
										queryCommandState: function() {
											return this.highlight ? -1 : 0;
										}
									};

									$(function() {
										//setInterval(function(){public_lock_renewal();}, 10000);
										$(".J_ajax_close_btn").on('click', function(e) {
											e.preventDefault();
											Wind.use("artDialog", function() {
												art.dialog({
													id: "question",
													icon: "question",
													fixed: true,
													lock: true,
													background: "#CCCCCC",
													opacity: 0,
													content: "您确定需要关闭当前页面嘛？",
													ok: function() {
														setCookie("refersh_time", 1);
														window.close();
														return true;
													}
												});
											});
										});
										/////---------------------
										Wind.use('validate', 'ajaxForm', 'artDialog', function() {
											//javascript

											//编辑器
											editorcontent = new baidu.editor.ui.Editor();
											editorcontent.render('content');
											try {
												editorcontent.sync();
											} catch (err) {
											}
											;
											//增加编辑器验证规则
											jQuery.validator.addMethod('editorcontent', function() {
												try {
													editorcontent.sync();
												} catch (err) {
												}
												;
												return editorcontent.hasContents();
											});
											var form = $('form.J_ajaxForms');
											//ie处理placeholder提交问题
											if ($.browser.msie) {
												form.find('[placeholder]').each(function() {
													var input = $(this);
													if (input.val() == input.attr('placeholder')) {
														input.val('');
													}
												});
											}
											//表单验证开始
											form.validate({
												//是否在获取焦点时验证
												onfocusout: false,
												//是否在敲击键盘时验证
												onkeyup: false,
												//当鼠标掉级时验证
												onclick: false,
												//验证错误
												showErrors: function(errorMap, errorArr) {
													//errorMap {'name':'错误信息'}
													//errorArr [{'message':'错误信息',element:({})}]
													try {
														$(errorArr[0].element).focus();
														art.dialog({
															id: 'error',
															icon: 'error',
															lock: true,
															fixed: true,
															background: "#CCCCCC",
															opacity: 0,
															content: errorArr[0].message,
															cancelVal: '确定',
															cancel: function() {
																$(errorArr[0].element).focus();
															}
														});
													} catch (err) {
													}
												},
												//验证规则
												rules: {'post[post_title]': {required: 1}, 'post[post_content]': {editorcontent: true}},
												//验证未通过提示消息
												messages: {'post[post_title]': {required: '请输入标题'}, 'post[post_content]': {editorcontent: '内容不能为空'}},
												//给未通过验证的元素加效果,闪烁等
												highlight: false,
												//是否在获取焦点时验证
												onfocusout: false,
														//验证通过，提交表单
														submitHandler: function(forms) {
															$(forms).ajaxSubmit({
																url: form.attr('action'), //按钮上是否自定义提交地址(多按钮情况)
																dataType: 'json',
																beforeSubmit: function(arr, $form, options) {

																},
																success: function(data, statusText, xhr, $form) {
																	if (data.status) {
																		setCookie("refersh_time", 1);
																		//添加成功
																		Wind.use("artDialog", function() {
																			art.dialog({
																				id: "succeed",
																				icon: "succeed",
																				fixed: true,
																				lock: true,
																				background: "#CCCCCC",
																				opacity: 0,
																				content: data.info,
																				button: [
																					{
																						name: '继续添加？',
																						callback: function() {
																							reloadPage(window);
																							return true;
																						},
																						focus: true
																					}, {
																						name: '返回列表页',
																						callback: function() {
																							location = '__URL__/expert';
																							return true;
																						}
																					}
																				]
																			});
																		});
																	} else {
																		isalert(data.info);
																	}
																}
															});
														}
											});
										});
										////-------------------------
									});
	</script>	
<script type="text/javascript">
	$(function(){
		$('.zt_period').click(function(){
			 if (confirm('本期按照投票数量显示，手动添加可能不会显示')){
				 return true;
			 }else{
				 return false;
			 }
		});
	});
</script>
</block>
