<extend name="Public/main" />
<block name="body">
<div class="wrap J_check_wrap">
	<div class="nav">
		<ul class="cc">
			<li class="current"><a href="javascript:;">所有标签</a></li>
			<li><a target="_self" href="{:U('biaoqian/add')}">添加标签</a></li>
		</ul>
	</div>
	<form class="J_ajaxForm" action="" method="post">
		<div class="table_list">
			<table width="100%">
				<colgroup>
					<col width="50">
					<col width="200">
					<col width="200">
					<col width="180">
				</colgroup>
				<thead>
					<tr>
						<td><label><input type="checkbox" class="J_check_all"
								data-direction="x" data-checklist="J_check_x"></label></td>
						<td>标签</td>
						<td>父标签</td>
						<td>状态</td>
						<td>操作</td>
					</tr>
				</thead>
				<foreach name="arr" item="vo">
				<tr>
					<td><input type="checkbox" class="J_check"
						data-yid="J_check_y" data-xid="J_check_x" name="ids[]"
						value="{$vo.ID}"></td>
					<td><a href="#" target="_blank"> <span style="">{$vo.bq}</span></a>
					</td>
					<td><a href="#" target="_blank"> <span style="">{$vo.parent_bq}</span></a>
					</td>
					<td><span style="">{$vo.zhuangtai|getYesNo}</span></td>
					<td><a target="_self"
						href="{:U('biaoqian/edit',array('id'=>$vo[ID]))}" target="_blank">修改</a>|
						<a href="{:U('biaoqian/delete',array('id'=>$vo[ID]))}"
						class="J_ajax_del">删除</a></td>
				</tr>
				</foreach>
			</table>
			<div class="p10">
				<div class="pages">{$Page}</div>
			</div>

		</div>
		<div>
			<div class="btn_wrap_pd">
				<label class="mr20"><input type="checkbox"
					class="J_check_all" data-direction="y" data-checklist="J_check_y">全选</label>
				<button class="btn J_ajax_submit_btn" type="submit"
					data-action="{:u('biaoqian/delete')}" data-subcheck="true"
					data-msg="你确定删除吗？">删除</button>
			</div>
		</div>
	</form>
</div>
</block>
<block name="script"> <script>
	function refersh_window() {
		var refersh_time = getCookie('refersh_time');
		if (refersh_time == 1) {
			window.location.reload();
		}
	}
	setInterval(function() {
		refersh_window();
	}, 2000);
	$(function() {
		setCookie("refersh_time", 0);
		Wind.use('ajaxForm', 'artDialog', 'iframeTools', function() {
			//批量移动
			$('#J_Content_remove').click(
					function(e) {
						var str = 0;
						var id = tag = '';
						$("input[name='ids[]']").each(function() {
							if ($(this).attr('checked')) {
								str = 1;
								id += tag + $(this).val();
								tag = ',';
							}
						});
						if (str == 0) {
							art.dialog.through({
								id : 'error',
								icon : 'error',
								content : '您没有勾选信息，无法进行操作！',
								cancelVal : '关闭',
								cancel : true
							});
							return false;
						}
						var $this = $(this);
						art.dialog.open(
								"__ROOT__/index.php?g=admin&m=post&a=move&ids="
										+ id, {
									title : "批量移动"
								});
					});
		});
	});
</script> </block>